@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #f0f2f5;
}

.pane {
  padding: 5px 15px;
  background: #fff;
}
  [data-theme="dark"] .pane {
    background: #303030;
  }

.text_center {
  text-align: center;
}

.ant-statistic-title {
  margin-bottom: -5px;
}

.value {
  font-size: 120%;
  fill: white;
}