@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

td:first-child {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(od) {
  background-color: #fff;
}